
.sorting-wrapper {margin: 0 auto; min-height: 500px;}
.sorting-wrapper form {margin: 0 auto;}
.sorting-wrapper .success { margin: 0 auto;}
#sortgame{margin: 0 auto; text-align: center; display: flex; flex-flow: column; width: 100%;}
.board { margin: 0 auto; position: relative; height: 480px; width: 100%; max-width: 410px;}
.board .dz {position: absolute; margin: 5px;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width: 100px; overflow: hidden;}
.board .dg {position: relative; border-radius: 10px; max-width: 100px; max-height: 80px;}
.board .dg img, .board .dz img { border-radius: 10px;}
.board .dg img { border: 2px solid transparent;}
.board .dz img { border: 2px solid #009dd2;}

.top {top: 0;}
.right {right: 0;}
.bottom {bottom: 0;}
.left {left: 0;}
.tc {top: calc(-28%); left: 35%;}
.bc {top: calc(28%); left: 35%;}
.xl {top: calc(25%);left: 2%}
.xr {top: calc(42%); left: calc(68%);}
.board .dg.correct img {border: 2px solid green; opacity: .5; transition: border-width 0.6s linear;}
.board .dz.correct img {opacity: 0;}
.ui-droppable.ui-droppable-disabled { opacity: 0; visibility: hidden; z-index: 0}
.ui-draggable-dragging {z-index: 9999999 !important}
/* Ipad pro */
@media (min-width: 1024px) {
    .board {width: 500px;}
    .tc {left: 37%;}
    .bc {left: 37%;}
    .xl {left: 6%}
    .xr {left: calc(68%);}
}

/* For Desktop View */
@media (min-width: 1200px) {
    .board {width: 550px;}
}
