{#
/**
 * @file
 * SORTING GENERATOR.
 */
#}
<h3 class="text-center ">{{ game_title }}</h3>
{% if instruction %}
  <p class="text-center">{{ instruction }}</p>
{% endif %}
<div class="sorting-wrapper d-flex flex-wrap justify-content-between sort-game">
  <div class="section" id="sortgame">        
    <div id="{{ uniqueID }}" class="game board mt-3"></div>
  </div>
  <form action="{{ cta.url }}" class="text-center mt-3">
    {% if playAgain %}
      <input aria-label="submit" type="button" data-game="#{{ uniqueID }}" class="btn-disabled button btn btn-blue igbgame__button mt-3 sorting_replay" disabled value="{{ playAgain }}" />
    {% endif %}
    {% if cta.url %}
      <input aria-label="submit" type="submit" class="btn-disabled button btn btn-blue igbgame__button mt-3 _{{ uniqueID }}_button" disabled value="{{ cta.title }}" />
    {% endif %}
  </form>
</div>
